---
layout: default
pagename: home
---

{% include navigation.html %}

<div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
	<div class="carousel-inner" role="listbox">
		{% for img in site.data.slider %}
		<div class="item {% if forloop.index ==  1 %}active{% endif %}">
			<div class="fill" style="background-image: url(img/slider/{{ img  }})"></div>
		</div>
		{% endfor %}
	</div>

	<a class="left carousel-control" href="#header-carousel" role="button" data-slide="prev">
		<span aria-hidden="true" class="carousel-arrow arrow-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#header-carousel" role="button" data-slide="next">
		<span aria-hidden="true" class="carousel-arrow arrow-right"></span>
		<span class="sr-only">Next</span>
	</a>

</div>

<div class="yet-another-container another-container text-center">
	<div class="container">	
		<h3>Իտալական և իսպանական ջահերի և վարդակների մասնագիտացված խանութ:</h3>
	</div>
</div>
