@font-face {
    font-family: 'Ghea Grapalat';
    src: url('../fonts/gheagrpalatreg-webfont.eot');
    src: url('../fonts/gheagrpalatreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gheagrpalatreg-webfont.woff2') format('woff2'),
         url('../fonts/gheagrpalatreg-webfont.woff') format('woff'),
         url('../fonts/gheagrpalatreg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.v-center {
    display: table;
    margin-left: -150px;
    @media (max-width: 767px) {
        display: block;
    }
}
.v-center > * {
    display: table-cell;
    vertical-align: middle;
    float: none;
    @media (max-width: 767px) {
        display: block;
    }
}
* {
    font-family: 'Roboto', 'Ghea Grapalat', sans-serif;
}

.container {
    max-width: 100%;
}


.electra-logo, .electra-logo:hover, .electra-logo:focus  {
    text-decoration: none;
    padding: 0 15px;
}
.electra-logo img  {
    height: 50px;
}
.home-page-header {
    background-color: rgba(16, 16, 16, 0.28);
    padding: 10px;
    box-shadow: 0px 5px 20px -5px black;
    border-radius: 0 !important;
}
.nav>li>a {
    padding: 15px 10px;
}
.menu-list li a {
    font-family: 'Open Sans Condensed', 'Ghea Grapalat', sans-serif;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
}
.menu-list li a:hover, .menu-list li a:focus {
    color: #D8D4CC;
    background-color: transparent;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.tab-content {
    margin-top: 30px;
}
.img-container {
    margin-bottom: 20px;
    padding: 10px;

    @media (max-width: 520px) {
        margin-bottom: 35px;
        box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
    }

    &:hover {
        box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        font-weight: bold;
    }

    a {
        display: block;
        color: #000;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
    }

    .box {
        background-color: #fff;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        margin-bottom: 5px;

        img {
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            max-height: 100%;
            max-width: 100%;
            border-radius: 5px;
        }
    }

}
li.cart-link {
    display: flex;
    align-items: center;
    a {
        padding: 15px 10px 15px 5px;
    }
    .icon-cart {
        background: url(../img/cart-icon.png) no-repeat;
        height: 20px;
        width: 20px;
        background-size: cover;
        display: inline-block;
        margin-left: 5px;
    }
}
html,
body {
    height: 100%;
}
#header-carousel.carousel,
#header-carousel .item,
#header-carousel .active {
    height: 100%;
}
#header-carousel .carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-inner {
    & > div, .slick-track, .slick-list {
        height: inherit;
    }
}
.carousel-control {
    z-index: 1000;
}
.carousel-arrow {
    width: 35px;
    height: 75px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-arrow.arrow-left {
    background-image: url(../img/left.png);
    left: 50%;
    margin-left: -17.5px;
}
.carousel-arrow.arrow-right {
    background-image: url(../img/right.png);
    right: 50%;
    margin-right: -17.5px;
}
.another-container {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 5px 20px -2px black;
    background-color: rgba(202, 202, 202, 0.82);
    background-color: rgba(202, 202, 202, 0.47);
    padding: 10px 0;
}
.another-container div {
    display: inline-block;
    padding: 0 10px;
    /*border: 2px solid rgb(121, 121, 121);*/
    /*height: 100px;*/
    display: table-cell;
    vertical-align: middle;
}
.another-container h3 {
    display: inline-block;
    font-family: 'Ghea Grapalat', sans-serif;
    font-size: 40px;
    margin: 0;
    color: rgb(58, 58, 58);
    color: white;
    font-size: 26px;
    line-height: 1.2;
    // color: white;
    text-shadow: 0 1px 1px whitesmoke;
    text-shadow: 0px 2px 3px #666;
}
.another-container p {
    font-size: 17px;
}
.yet-another-container {
    // border-top-right-radius: 5px;
    // border-top-left-radius: 5px;
}

/*index html*/
.index-header {
    background-color: rgba(16, 16, 16, 0.81);
}
.pages {
    text-align: center;
}
.pagination>li>a, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #000;
    border: none;
    background-color: transparent;
}


.product-row {
    margin-bottom: 25px;
}


.page-body {
    padding-bottom: 80px;
    padding-top: 90px;
    min-height: 100%;
    position: relative;

    &.contact-page {
        padding-bottom: 50px;
    }
}
.other-page-header .navbar-toggle .icon-bar {
    background-color: #A0A0A0;
}
.other-page-header {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    box-shadow: 0px -1px 20px 2px rgba(0, 0, 0, 0.37);
    background-color: rgba(242, 242, 242, 0.89);
}
.other-page-header .navbar-brand {
    color: #888;
}
.other-page-header .menu-list li a {
    color: #A8A8A8;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #6B6B6B;
}
.nav-tabs > li > a {
    color: #B5B5B5;
    font-size: 15px;
}
.nav-tabs {
    text-align: center;
    position: relative;
    border-bottom: none;

    & > li {
        float: none;
        display: inline-block;
        position: static;

        &.active {

            &:after {
                content: "";
                position: absolute;
                border-bottom: 1px solid #ddd;
                margin-top: -1px;
                width: 100%;
                left: 0;
            }

            & > a {
                position: relative;
                z-index: 2;
            }
        }
    }
}


.menu-list li.lang-btn.first {
    margin-left: 30px;
}
.menu-list li.lang-btn a {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 15px;
    line-height: 20px;
}
.menu-list.lang-container {
    float: right;
}
.menu-list.lang-container li.lang-btn a {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 15px;
    line-height: 30px;
}
.menu-list.lang-container li.lang-btn {
    float: left;
}
.menu-list.lang-container li.lang-btn.first {
    margin-left: 0;
}



.about-page {

    h2 {
        font-size: 30px;
        margin-bottom: 20px;
        @media (max-width: 767px) {
            text-align: center;
        }
    }

    .about-text {
        margin-bottom: 20px;
    }

    .about-description {
        font-size: 18px;
        color: black;
        margin: 30px 0 20px;

        @media (max-width: 767px) {
            text-align: justify;
            margin-top: 15px;
        }
    }

    .partners-block {
        a, a:hover {
            text-decoration: none;
        }

        img {
            height: 50px;
            padding-right: 20px;

        }
        @media (max-width: 767px) {
            & {
                text-align: center;
            }

            a {
                display: block;
                margin: 15px 0;
                img {
                    padding: 0;
                }
            }
        }
    }
}
.embed-responsive {
    margin-top: 15px;
    margin-bottom: 10px;
    iframe  {
        box-shadow: 0px -1px 20px 2px rgba(0, 0, 0, 0.37);
        background-color: rgba(242, 242, 242, 0.89);
    }

}
.partner-page {
    .partners-block {
        a {
            display: block;
            .text-center {
                margin-top: 40px;
                margin-bottom: 30px;
            }
            img {
                max-width: 30%;
                @media (max-width: 767px) {
                    max-width: 50%;
                }
            }
            &:hover {
                text-decoration: none;

                h2 {
                    color: #fde15c;
                }
            }
            div {
                transition: all 0.2s ease-in-out;
                font-size: 20px;
                margin-bottom: 10px;
                margin-top: 20px;
                color: black;
            }
        }
        p {
            font-size: 16px;
            color: #B5B5B5;
        }
    }
}

.contact-page {
    .contact-us {
        margin-top: 20px;
    }

    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    iframe {
        border: 1px solid silver;
    }

    address {
        margin: 5px 0 35px 0;
    }
    @media (max-width: 767px) {
        address, h2 {
            text-align: center;
        }
    }
}

.copyright {
    position: absolute;
    text-align: center;
    bottom: 15px;
    left: 0;
    width: 100%;
    color: rgba(33, 33, 33, 0.79);
    font-size: 12px;
    font-weight: bold;
}

@media (min-width: 992px) and (max-width: 1215px) {
    .carousel-caption > .container {
        text-align: center;
    }
    .yet-another-container {
        display: inline-block;
        /*max-width: 70%;*/
    }
}
@media (max-width: 1024px) {
    .another-container h3 {
        font-size: 20px;
    }
}
@media (max-width: 924px) {
    .another-container p {
        font-size: 14px;
    }
}
@media (max-width: 924px) {
    .carousel-caption > .container {
        text-align: center;
    }
    .yet-another-container {
        display: inline-block;
    }
} 
@media (max-width: 767px) {
    .tab-content {
        padding: 0 40px;
        margin-top: 25px;
    }
    .product-row {
        margin-bottom: 0;
    }
    .box {
        margin-bottom: 20px;
    }

    .pagination>li>a, .pagination>li>span {
        padding: 6px 6px;
    }
    .nav-tabs > li > a {
        font-size: 12px;
        padding: 7px 5px;
    }

    .other-page-header {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 1200px) and (min-width: 991px) {
    .menu-list li a {
        padding: 15px 5px;
        font-size: 15px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .menu-list li a {
        padding: 15px 7px;
        font-size: 12px;
    }
    .menu-list li.lang-btn.first {
        margin-left: 0;
    }
    .electra-logo img {
        height: 45px;
    }
    
}

@media (max-width: 350px) {
    .another-container h3 {
        font-size: 19px;
    }
    .electra-logo img {
        margin: 8px 0;
        height: 34px;
    }
    .menu-list.lang-container li.lang-btn a {
        font-size: 14px;
    }
}
