---
layout: default
pagename: aboutus
---

{% include navigation.html %}

<div class="container page-body about-page">
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">

			<div class="col-xs-12">
				<h2>{{ site.data.translations.aboutus[page.language] }}</h2>
			</div>

			<div class="about-text clearfix">
				<div class="col-sm-4">
					<img class="img-responsive" src="/img/aboutus.jpg" alt="shopfront">
				</div>			
				<div class="col-sm-8">{{ site.data.translations.aboutdescription[page.language] }}</div>
			</div>

			<div class="col-xs-12">
				<h2>{{ site.data.translations.brands[page.language] }}</h2>
			</div>

			<div class="col-xs-12 partners-block">		
				{% for partner in site.data.partners %}
				<a href="{{ partner.url }}" target="_blank">
					<img src="/img/partners/{{ partner.img }}">
				</a>
				{% endfor %}
			</div>
		</div>

		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>
