---
layout: default
pagename: partners
---

{% include navigation.html %}

<div class="container page-body partner-page">
	<div class="row">

		<div class="col-xs-12 partners-block">
			{% for partner in site.data.partners[page.language] %}
			<a href="{{ partner.url }}" target="_blank" {% if partner.large %}class="large"{% endif %}>
				<img alt="{{ partner.description }}" src="/img/partners/{{ partner.img }}" title="{{ partner.name }}" />
			</a>
			<!-- <p>{{ partner.description }}</p> -->
			{% endfor %}
		</div>

	</div>

	{% include copyright.html %}
</div>

